body {
    width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
}

table.list {
    width: 100%;
}

table.list tr:nth-child(even)  {
    background-color: lightgray;
}

table.list th {
    padding: 0.5em;
    background-color: darkgray;
}

table.list td {
    padding: 0.5em;
    vertical-align: top;
}